body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-right: 18px;
  z-index: -1;
}
* {
 /*border: 1px solid #ff0000;*/
  background-color: #101828;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background-color: #1c2a48;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  padding: 10px 20px;
  background-color: #002774;
  color: white;
  font-size: 20px;
  border: none;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0661b6;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.search-button:disabled {
  background-color: #233342;
  cursor: not-allowed;
}

.error {
  background-color: #920000; /* light red */
  color: #ffe0e0; /* strong red text */
  border: 1px solid #920000; /* light red border */
  padding: 24px;
  border-radius: 16px;
  border-color: #dc2626;
  margin-bottom: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #b91c1c;
}

.error-icon {
  width: 24px;
  height: 24px;
  color: #dc2626;
  margin-right: 8px;
  flex-shrink: 0;
}

.error-message {
  color: #b91c1c;
  margin: 0;
  font-size: 1rem;
}

.results {
  margin-top: 20px;
}

.result-item {
  margin-bottom: 15px;
  background-color: #041a47;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 600px) {
  .result-item{
    width: 100%;
  }
}

.result-item a {
  color: #007bff;
  background-color: #041a47;
  text-decoration: none;
  font-size: 18px;
}

.result-item a:hover {
  text-decoration: underline;
}

.result-item p {
  background-color: #041a47;
  margin: 5px 0;
  color: #ffffff;
}

.nav {
  cursor: pointer;
}
.nav:disabled{
  cursor: not-allowed;
}